<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FHB Contact Us</title>
</head>
<body>

<header th:replace="~{/components/Header :: logo}" />
<nav th:replace="~{/components/Navigation::topnav}" />
<nav th:replace="~{/components/Navigation::legal-nav }"></nav>

<p>These are the developers of this cite and you can contact us throught the following
  <a href="mailto:fairhandborrowing@gmail.com" > email </a>
</p>

<div class="container">
  <img src="" />

</div>


</body>
</html>