<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FHB Disclaimer</title>
</head>
<body>

<header th:replace="~{/components/Header :: logo}" />
<nav th:replace="~{/components/Navigation::topnav}" />
<nav th:replace="~{/components/Navigation::legal-nav }"></nav>

<h1>Disclaimer</h1>
<p>Fair hand borrowing is a marketplace and like any other marketplace its not repsoinsible or liable for financial gains
or losses. By using this service the user accepts all risk and liability for contracts sighned on this website. </p>

</body>
</html>