<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FHB Insurance Policy</title>
</head>
<body>

<header th:replace="~{/components/Header :: logo}" />
<nav th:replace="~{/components/Navigation::topnav}" />
<nav th:replace="~{/components/Navigation::legal-nav }"></nav>

<p>Insurance is optional and you can choose to subscribe to it at any time. Payments will be taken against your interest gained on a monthly bases which will allow you to file a claim on future loans for reimbursement of up to the loan amount of the dollar amount defined in the tiers.

  Subscribers to insurance must participate in the plan for a minimum of two (2) months after which point they will be eligible to file a claim.
</p>

</body>
</html>