<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>

    <div th:fragment="topnav">
        <nav>
            <a th:href="@{/legal/acceptable_use_policy}"> Legal Pages</a>
            <a th:href="@{/login}"> Login</a>
            <a th:href="@{/register}"> register</a>
            <a th:href="@{/logout}"> logout </a>
        </nav>
    </div>


    <div th:fragment="legal-nav">
        <nav>
            <a href="/legal/privacy_policy">Privacy Policy</a>
            <a href="/legal/acceptable_use_policy"> Acceptable Use Policy</a>
            <a href="/legal/cookies_policy">Cookies Policy</a>
            <a href="/legal/disclaimer"> Disclamer Policy</a>
            <a href="/legal/insurance_policy"> Insurance Policy</a>
            <a href="/legal/contact_us"> Contact Us</a>

        </nav>

    </div>


</html>