<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>k -sry </title>
  <link ref="stylesheet" th:href="@{CSS/BaseStyle.css}" >

  </head>

<Body>

  <h1>Fair Hand Borrowing 33</h1>
  <img th:src="@{Images/logo.png}" alt="Image of a white and black tiger" >


  <a href="/register">Register</a>
</Body>
