<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>k -sry </title>

  <link th:href="@{/css/BaseStyle.css}" rel="stylesheet" />
  </head>


<!--https://stackoverflow.com/questions/50782748/how-to-include-one-html-page-to-another-in-thymeleaf  -->
<!--  importing fragments -->
<body>

  <header th:replace="~{/components/Header :: logo}" />
  <nav th:replace="~{/components/Navigation::topnav}" />


  <div id="testimonials">
    <h1>test to see if testimonials document is able to get this</h1>
  </div>


</body>



<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel" async th:src="@{/js/testimonials.js}"></script>

<footer th:replace="~{components/Footer ::footer}"/>


</html>